<h3>{{user.email}}'s Comments</h3>
<a href="/users/{{user._id}}/comments/new">
  <button class="action-btn btn btn-danger">Start Comment</button>
  <form class="delete-form"action="/users/{{user.id}}?_method=DELETE" method="POST">
            <input class="action-btn btn btn-danger" type="submit" value="DELETE">
        </form>
</a>

{{#each user.comment}}
    <p>
      <a href="{{../user._id}}/comments/{{id}}">{{content}}</a>
    </p>

{{/each}}
